.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    height: 100%;
    width: 100%;
}

.progressBlock {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
}

.animatedProgressBlock {
    grid-column: 4 / 13;
    grid-row: 1 / 4;
}

.coursesBlock {
    grid-column: span 3;
    grid-row: 4 / 5;
}

.folderBlock {
    grid-column: span 3;
    grid-row: 4 / 5;
}

.booksBlock {
    grid-column: span 3;
    grid-row: 4 / 5;
}

.additionBlock {
    grid-column: span 4;
    grid-row: 5 / 7;
}