.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    height: 100%;
    width: 100%;
}

.progressBlock {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
}

div.animatedProgressBlock {
    grid-column: 4 / 13;
    grid-row: 1 / 4;
    background-image: url('../../assets/planets/background.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

.miniBlock {
    grid-column: span 3;
    grid-row: 4 / 5;
}

.additionBlock {
    grid-column: span 4;
    grid-row: 5 / 7;
}